:root {
    font-size: clamp(1.1em, 2vw, 1.25em);
}

@import "_variables.scss";
@import "_bulma.scss";
// @import "autocomplete.scss";
@import "passdetail.scss";

#api-home h3 {
    font-size: 1.25em;
}

#about p {
    margin-top: 1em;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

form {
    width: 100%;
}

#passes-form {
    max-width: 960px;
    margin-right: auto;
}

.footer-container {
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.latlon-result {
    font-size: 0.75em;
}

.latlon {
    font-weight: 700;
}

.location-header {
    margin-bottom: 1em;
}

.satellite-header {
    margin-bottom: 1em;
}

div#groundtrack-map {
    width: 500px;
    height: 500px;
    margin: 2em auto;
}

.autocomplete::after {
    border-color: transparent !important;
}

.autocomplete-input {
    padding-left: calc(0.75em - 1px) !important;
    padding-right: calc(0.75em - 1px) !important;
    padding-top: calc(0.5em - 1px) !important;
    padding-bottom: calc(0.5em - 1px) !important;
}