[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
docutils = "*"
fastapi = "*"
h11 = "*"
httptools = "*"
numpy = "*"
pydantic = "*"
starlette = "*"
uvicorn = "*"
uvloop = "*"
websockets = "*"
pytz = "*"
sgp4 = "*"
requests = "*"
passpredict = {editable = true, path = "./passpredict"}

[requires]
python_version = "3.8"
