sgp4==2.12
starlette
uvicorn[standard]
uvloop
python-dotenv
gunicorn
aioredis[hiredis]
databases[postgresql]
requests
Cython
sqlalchemy
alembic
numpy>=1.20
aiohttp[speedups]
aiofiles
httpx
Jinja2
scipy
pydantic
orbit-predictor
python-multipart
fastapi