starlette
uvicorn[standard]>=0.15
uvloop>=0.16
python-dotenv
gunicorn
aioredis[hiredis]
databases[postgresql]
sqlalchemy
aiofiles
httpx
Jinja2
pydantic
python-multipart
fastapi
asyncpg
timezonefinder
Markdown
