starlette
uvicorn[standard]>=0.15
uvloop>=0.16
python-dotenv
gunicorn
aioredis >= 2.0.0
databases[postgresql]
sqlalchemy
aiofiles
httpx
Jinja2
pydantic
python-multipart
fastapi
asyncpg
timezonefinder
Markdown
arq
