@import "_bulma.scss";


.table-container {
    display: flex;
    justify-content: center;
}

.table-range {
    text-align: right !important;
}

.table-elevation {
    text-align: center !important;
}

.table-azimuth {
    text-align: center !important;
}