@import "_bulma.scss";


.table-container-desktop {
    display: none;
}

.table-container-mobile {
    display: flex;
    flex-direction: column;
}

.table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-point-name {
    font-weight: 500;
}

.table-body {
    width: min(350px, calc(72.5% + 100px));
    // margin-right: auto;
}

.table-row {
    margin: 1em auto;
}

.table-row-mobile  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // margin: auto;
}

.table-header-cell {
    margin-left: 1em;
}

.table-range {
    text-align: right !important;
}

.table-elevation {
    text-align: center !important;
}

.table-azimuth {
    text-align: center !important;
}

@media screen and (min-width: $tablet - 1px) {
    .table-container-mobile {
        display: none;
    }

    .table-container-desktop {
        display: flex;
        justify-content: center;
    }

    .table {
        display: table;
        width: auto;
    }

    .table-row-mobile:first-child {
        display: none;
    }

    .table-row-mobile {
        display: block;
    }

    .table * {
        // margin: 1em;
        padding: 0.5em 0.25em;
    }

    .table-point-name {
        padding: 0.5em 0.75em 0.5em 0;
    }

    .table-head {
        display: table-header-group;
    }

    .table-header-cell {
        display: table-cell;
        font-weight: 500;
    }

    .table-body {
        display: table-row-group;
    }

    .table-row {
        display: table-row;
    }

    .table-cell {
        display: table-cell;
    }

}