@import "_bulma.scss";



article.message {
    /* max-width: 600px; */
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.message-body {
    padding: 0.75em;
}

#passListHeader {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    position: sticky;
    top: 0;
    background-color: white;
}

.pass-list-header-item {
    flex-basis: 20%;
    text-align: center;
}

#passList {
    display: flex;
    flex-direction: column;
    /* margin: 1.5em 0; */
}

.pass-list-item {
    margin-top: 0.5em;
}

div.pass-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    // min-height: 2em;
}

.pass-row:hover {
    background-color: $primary-dark;
    /* border: 1px solid var(--primary-dark); */
    font-weight: 500;
    color: white;
}

.pass-item {
    text-align: right;
}

.pass-month-day {
    flex-basis: 10%;
}

.pass-time {
    flex-basis: 20%;
    // padding-right: 0;
    // padding-left: 0;
    // min-width: 90px;
}

.pass-time-ampm {
    font-size: 0.75em;
};

.pass-duration {
    flex-basis: 15%;
}

.pass-max-el {
    flex-basis: 10%;
}


label[for="visibleOnly"] {
    padding-left: 1.5em;
}

.results-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

.results-header-left {
    flex-grow: 4;
}

.results-header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin: auto;
    // flex-grow: 1;
}

// .results-header-right > .button {
//     // "Pass List" or "Search Again" button
//     // flex: auto;
// }



@media screen and (min-width: $desktop) {
    // .results-header {
    //     flex-direction: row;
    //     justify-content: space-between;
    //     align-items: center;
    // }

    .pass-time-ampm {
        font-size: 1em;
    };

}