
/*
Spectre responsive breakpoints (_variables.scss)
// $size-xs: 480px !default;
// $size-sm: 600px !default;
// $size-md: 840px !default;
// $size-lg: 960px !default;
// $size-xl: 1280px !default;
// $size-2x: 1440px !default;
*/

:root {
    font-size: clamp(1.25em, 2vw, 1.5em);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(600px, 70vw + 50px);
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

/* header > * {
    padding: 0 auto;
} */

h1 {
    /* Using the clamp function: https://www.youtube.com/watch?v=dg488RrpNTc */
    font-size: clamp(40px, 5vw, 4em);
}

#passes-form {
    width: 100%;
}

.location-result-item:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.footer-container {
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.results-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.results-header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label[for="visibleOnly"] {
    padding-left: 1.5em;
}

article.message {
    /* max-width: 600px; */
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.message-body {
    padding: 0.75em;
}

#passListHeader {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.pass-list-header-item {
    flex-basis: 20%;
    text-align: center;
}

#passList {
    display: flex;
    flex-direction: column;
    /* margin: 1.5em 0; */
}

.pass-list-item {
    margin-top: 0.5em;
}

.pass-row {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.pass-item {
    flex-basis: 20%;
    text-align: center;
}

.pass-month-day {
    flex-basis: 10%;
}

.autocomplete-result{
    position: absolute;
    width: 100%;
}

.autocomplete-result-list {
    border-left: .05rem solid #d6d4e8;
    border-right: .05rem solid #d6d4e8;
    border-bottom: .05rem solid #d6d4e8;
    border-bottom-left-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
    /* box-sizing: border-box; */
    margin: 0;

    list-style: none;
    position: relative;
    z-index: 100;
    background-color: white;
}

.autocomplete-result-list > li {
    margin: 0;
    padding: 0.3rem 0.4rem;
    position: relative;
    z-index: inherit;
}

.focused-result {
    background-color: black;
    color: white;
}

.table-container {
    display: flex;
    justify-content: center;
}

.table-range {
    text-align: right !important;
}

.table-elevation {
    text-align: center !important;
}

.table-azimuth {
    text-align: center !important;
}