{% extends 'base.html' %}

{% block content %}

<header>
    <h1 class="title mb-3">
        About
    </h1>
</header>

<main id="about">
    <p>
        This site was created by <a href="https://samtx.dev">Sam Friedman</a>.
    </p>
    <p>
        The goal is to make the website easy enough to use for novice satellite watchers but detailed enough for experts.
        It is in active development, so check back for updates and new features.
    </p>
    <p>
        Orbit and satellite data is gathered from Celestrak three times a day.
        Coordinate frame transformations use the IAU FK5/1976 transformations and WGS84 Earth constants.
    </p>
    <p>
        For detailed description of the technology stack and astrodynamics computation, see my <a href="https://samtx.dev/projects/passpredict">personal blog</a>.
        The code for the site is open source and can be viewed at <a href="https://github.com/samtx/passpredict-app">github.com/samtx/passpredict-app</a>.
    </p>
</main>

{% endblock content %}