<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        {% endblock title %}
    </title>

    <!--  Plausible Analytics  -->
    <script async defer data-domain="passpredict.com" src="https://plausible.io/js/plausible.js"></script>

    <!-- Alpine JS -->
    <script defer src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js"></script>

    <!-- Spectre.css -->
    <link rel="stylesheet" href="{{ url_for('static', path='dist/spectre.css') }}">

    <!-- <link rel="stylesheet" href="/global.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', path='dist/styles.css') }}">

    <!-- <script defer src='/bundle.js'></script> -->
    {% block javascript_head %}
    {% endblock javascript_head %}
</head>

<body>

    {% block content %}
    {% endblock content %}

    {% block javascript %}
    {% endblock javascript %}

</body>

</html>