<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        {% endblock title %}
    </title>

    <!-- <link rel="shortcut icon" href="{{ url_for('static', path='img/satellite.png') }}" type="image/x-icon"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='img/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', path='site.webmanifest') }}">

    <!--  Plausible Analytics  -->
    <script async defer data-domain="passpredict.com" src="https://plausible.io/js/plausible.js"></script>

    <!-- Alpine JS -->
    <script defer src="https://unpkg.com/alpinejs@3.5.1/dist/cdn.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', path='dist/styles.css') }}">

    <!-- <script defer src='/bundle.js'></script> -->
    {% block javascript_head %}
    {% endblock javascript_head %}
</head>

<body>

    <nav class="navbar px-3 pt-2" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            {% if ignore_navbar_brand is defined %}
            {% else %}
                <a href="{{ url_for('home') }}" class="navbar-item has-text-weight-semibold">
                    Pass Predict
                </a>
            {% endif %}
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <a href="{{ url_for('about') }}" class="navbar-item is-primary">About</a>
                <a href="{{ url_for('api:home') }}" class="navbar-item is-primary">API</a>
                <a href="{{ url_for('help') }}" class="navbar-item">Help</a>
            </div>
        </div>
    </nav>

    <div class="container px-3 pt-2">

        {% block content %}
        {% endblock content %}

    </div>

    <footer class="footer-container">
        <div class="footer-item">
        </div>
    </footer>

    <script src="{{ url_for('static', path='dist/bundle.js') }}"></script>
    {% block javascript %}
    {% endblock javascript %}

</body>

</html>