{% extends 'base.html' %}

{% block content %}


<div class="container is-max-desktop px-3 pt-2">

    <header>
        <h1 class="title has-text-centered">
            Pass Predict
        </h1>
        <h3 class="subtitle has-text-centered">
            See a Satellite!
        </h3>
    </header>

    <form id="passes-form" autocomplete="off" method="POST" action="/">
        <div class="field">
            <label for="locationSearch" class="label">Location</label>
            <div class="control">
            <label for="locationLatitude">Latitude</label>
                <input type="number" name="lat" class="input" min="-90.0" max="90.0">
            </div>
            <div class="control">
                <label for="locationLatitude">Longitude</label>
                <input type="number" name="lon" class="input" min="-180.0" max="180.0">
            </div>
        </div>

        <div class="field">
            <label for="satid" class="label">Select satellite</label>
            <div class="control">
                <div class="select mt-0">
                    <select name="satid">
                        {% for satellite in satellites %}
                            <option value={{ satellite.id }}>{{ satellite.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="buttons">
            <button id="submit" type="submit" class="button is-primary mr-5">Submit</button>
            <button id="reset" type="reset" class="button is-info">Reset</button>
        </div>
    </form>

    <footer class="footer-container">
        <div class="footer-item">
            <a href="/about">About</a>
        </div>
    </footer>

</div>
{% endblock content %}

{% block javascript %}
<script src="public/home.js"></script>
{% endblock javascript %}