{% extends 'base.html' %}

{% block content %}

<div class="container">

    <header>
        <h1>
            Pass Predict
        </h1>
        <h3>
            See a Satellite!
        </h3>
    </header>

    <main>
        <form id="passes-form" autocomplete="off" method="POST" action="{{ url_for('home') }}">
            <div x-data="locationSearch()" id="locationSearch" class="form-group">
                <label for="locationSearch" class="form-label">Location</label>
                <input
                    x-model="query"
                    name="locationQuery"
                    @input.debounce.100ms="fetchLocations()"

                    type="search"
                    class="form-input"
                    placeholder="New York, NY"
                />
                <ul
                    class="autocomplete-result-list"
                    x-show="(data) && (data.length > 0)"
                    @keydown.arrow-down.prevent="focusNextResult()"
                    @keydown.arrow-up.prevent="focusPreviousResult()"
                    @keydown.escape.prevent="closeResults()"
                    @click.away.prevent="closeResults()"


                >
                    <template x-for="(item, index) in data">
                        <li
                            x-html="markQuerySubstring(query, item.name)"
                            @click="selectedIndex = index"
                        >
                        </li>
                    </template>
                </ul>
                <input type="hidden" name="lat" x-bind:value="data[selectedIndex].lat" />
                <input type="hidden" name="lon" x-bind:value="data[selectedIndex].lon" />
                <input type="hidden" name="h" x-bind:value="data[selectedIndex].h" />
                <input type="hidden" name="name" x-bind:value="data[selectedIndex].name" />
            </div>

            <div class="form-group">
                <label for="satid" class="form-label">Select satellite</label>
                <select class="form-select" name="satid">
                    {% for satellite in satellites %}
                        <option value={{ satellite.id }}>{{ satellite.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="buttons">
                <button id="submit" type="submit" class="btn btn-primary mr-5">Submit</button>
                <button id="reset" type="reset" class="btn">Reset</button>
            </div>
        </form>
    </main>

    <footer class="footer-container">
        <div class="footer-item">
            <a href="{{ url_for('about') }}">About</a>
        </div>
    </footer>

</div>
{% endblock content %}

{% block javascript %}
<script src="{{ url_for('static', filename='dist/home.js') }}"></script>
{% endblock javascript %}