{% extends 'base.html' %}

{% block title %} Pass Predict {% endblock title %}

{% block content %}

    <header>
        <h1 class="title is-size-1">
            Pass Predict
        </h1>
        <h3 class="subtitle is-size-3">
            See a Satellite!
        </h3>
    </header>

    <main>
        <div id="passes-form"></div>
    </main>

{% endblock content %}

{% block javascript %}
<script>
    const app = new Passpredict.HomeForm({
        target: document.getElementById("passes-form"),
        props: {
            formActionUrl: "{{ url_for('home') }}",
            satellites: {{ satellites|tojson }},
        }
    })
</script>
{% endblock javascript %}