{% extends 'base.html' %}

{% block title %} Passes {% endblock title %}

{% block content %}
<div class="container is-max-desktop px-3 pt-2">

    <header>
        <h1 class="title has-text-centered mb-3">
            Satellite Pass Detail
        </h1>
    </header>

    <div class="results-header">
        <div id="results-header-left" class="mx-5">
            <p>
                <span class="has-text-weight-semibold">Location: </span>
                {% if location.name %}
                    {{ location.name }}
                {% endif %}
                <div class="is-size-7">
                    <span class="has-text-weight-medium">Latitude: </span>{{ location.lat }}&deg; &nbsp;
                    <span class="has-text-weight-medium">Longitude: </span>{{ location.lon }}&deg;
                </div>
            </p>
            <p>
                <span class="has-text-weight-semibold">Satellite: </span>{{ satellite.name }}
            </p>
            <p class="is-size-7">
                <span class="has-text-weight-medium">NORAD ID: </span>{{ satellite.id }}
            </p>
            <p>
                <span class="has-text-weight-semibold">
                    Date:
                </span>{{ pass.aos.datetime|strftime("%x") }}<span id="satellite" />
            </p>
        </div>
        <div class="results-header-right">
            <a class="button is-primary is-light m-3" href="{{ pass_list_url }}">Pass List</a>
        </div>
    </div>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th class="table-time">Time</th>
                    <th class="table-azimuth">Azimuth</th>
                    <th class="table-elevation">Elevation</th>
                    <th class="table-range">Range [km]</th>
                </tr>
            </thead>
            <tbody>
                {% for ptname, pt in zip(['Begin','Max','End'], [pass.aos, pass.tca, pass.los]) %}
                <tr>
                    <th>{{ ptname }}</th>
                    <td class="table-time">{{ pt.datetime|strftime('%X') }}</td>
                    <td class="table-azimuth">{{ pt.az|round|int }}&deg;</td>
                    <td class="table-elevation">{{ pt.el|round|int }}&deg;</td>
                    <td class="table-range">{{ pt.range|round|int }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</div>
{% endblock content %}