{% extends 'base.html' %}

{% block title %} Passes {% endblock title %}

{% block content %}
<div class="container is-max-desktop px-3 pt-2">

    <header>
        <h1 class="title has-text-centered mb-3">
            Passes
        </h1>
    </header>

    <div class="results-header">
        <div class="results-header-left">
            <div class="location-header">
                <span class="has-text-weight-semibold">Location: </span>
                {% if location.name %}
                    {{ location.name }}
                {% endif %}
                <div class="is-size-7">
                    <span class="has-text-weight-medium">Latitude:</span>&nbsp;{{ location.lat }}&deg;&nbsp;
                    <span class="has-text-weight-medium">Longitude:</span>&nbsp;{{ location.lon }}&deg;
                </div>
            </div>
            <div class="satellite-header">
                <span class="has-text-weight-semibold">Satellite:</span>&nbsp;{{ satellite.name }}
                <div class="is-size-7">
                    <span class="has-text-weight-medium">NORAD ID:</span>&nbsp;{{ satellite.id }}
                </div>
            </div>
            <div class="date-header">
                <span class="has-text-weight-semibold">Dates:</span>&nbsp;{{ start_date|strftime("%x") }}&nbsp;-&nbsp; {{ end_date|strftime("%x") }}
            </div>
        </div>
        <div class="results-header-right">
            <a class="button is-primary" href="{{ url_for('home') }}">Search Again</a>

            <!-- <label for="visibleOnly" class="checkbox">
                <input id="visibleOnly" type="checkbox" checked />
                Visible Only
            </label> -->
        </div>
    </div>

    <div class="message-container">
        <article class="message is-warning mt-5 ml-0 mr-0">
            <div class="message-body">
                This site is a work in progress and these results may not be accurate. 🛰️
            </div>
        </article>
    </div>

    <!-- Alpine JS Component for returning pass results from backend API -->
    <div
        x-data="passList"
        id="passListHeader"
        class="p-2 mb-1"
    >
        <p class="pass-item pass-month-day">Date</p>
        <p class="pass-item pass-time">Time</p>
        <p class="pass-item pass-duration">Duration</p>
        <p class="pass-item pass-max-el">Max Elevation</p>

        <div id="passList">
            <p x-show="isLoading" class="is-size-5 has-text-centered mt-6 mb-4">
                Getting passes...
                <progress class="progress is-primary">50%</progress>
            </p>

            <template x-if="passes != null && passes.length > 0">
                <template x-for="pass in passes">
                    <div class="box is-rounded p-2 mb-3 pass-row">
                        <div class="p-1 pass-item pass-month-day">
                            <p class="value" x-text="pass.start_pt.getMonthDay"></p>
                        </div>
                        <div class="p-1 pass-item pass-time">
                            <p class="value" x-text="pass.start_pt.getTimeMinutes"></p>
                        </div>
                        <div class="p-1 pass-item pass-duration">
                            <p class="value" x-text="pass.duration"></p>
                        </div>
                        <div class="p-1 pass-item pass-max-el">
                            <p class="value" x-text="pass.elevation + '&deg;'"></p>
                        </div>
                    </div>
                </template>
            </template>

            <p x-show="!isLoading && passes !== null && passes.length == 0" class="is-size-5 has-text-centered mt-6">
                No passes found
            </p>

            <p x-show="!isLoading && isError" class="is-size-5 has-text-centered has-text-danger mt-6">
                Error getting passes
            </p>

        </div>

        <a href="#" class="button is-floating is-primary">
            <img src="{{ url_for('static', path='img/fa-chevron-up.svg') }}" alt="Up">
        </a>
    </div>

</div>
{% endblock content %}

{% block javascript %}
<script>
    const fetchPasses = async (params) => {
        const response = await fetch('/api/passes/?' + new URLSearchParams(params).toString());
        const data = await response.json();
        return data;
    }

    const getPassDetailUrl = (satellite, location, pass) => {
        const params = {
            satid: satellite.id,
            satname: satellite.name,
            name: location.name,
            lat: location.lat,
            lon: location.lon,
            h: location.h,
            aosdt: pass.aos.datetime,
        }
        const url = '/passes/detail/?' + new URLSearchParams(params).toString()
        return url
    };

    document.addEventListener('alpine:init', () => {
        Alpine.data('passList', () => ({
            passes: null,
            isLoading: true,
            isError: false,
            init() {
                const url = new URL(window.location.href.toLowerCase());
                const name = url.searchParams.get('name');  // location name
                const params = {
                    satid: url.searchParams.get('satid'),
                    lat: url.searchParams.get('lat'),
                    lon: url.searchParams.get('lon'),
                    h: url.searchParams.get('h') ? url.searchParams.get('h') : 0,
                };
                fetchPasses(params)
                    .then((data) => {
                        this.isLoading = false;
                        this.passes = data;
                    })
                    .catch(error => {
                        this.isLoading = false;
                        this.isError = true;
                    })
            },
        }))
    })
</script>
{% endblock javascript %}
