{% extends 'base.html' %}

{% block title %} Passes {% endblock title %}

{% block content %}
<div class="container is-max-desktop px-3 pt-2">

    <header>
        <h1 class="title has-text-centered mb-3">
            Passes
        </h1>
    </header>

    <div id="pass-list"></div>

</div>
{% endblock content %}

{% block javascript %}
<script>
    const app = new Passpredict.PassList({
        target: document.getElementById('pass-list'),
        props: {
            satellite: {{ satellite|tojson }},
            location: {{ location|tojson }},
            start_date: new Date("{{ start_date.isoformat() }}"),
            end_date: new Date("{{ end_date.isoformat() }}"),
        },
    });
</script>
{% endblock javascript %}
